<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fwitter</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
		<link rel="stylesheet" href="/css/main.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	</head>
	<body>

		<%- include('./partials/nav') %>

		<section>
			<div class="container">
				<% if (!user) { %>
					<div class="has-text-centered">
						<h1 class="title">Welcome! Please <a href="/login">log in</a> or <a href="/signup">sign up</a> for an account</h1>
					</div>

				<% } else { %>
					<div class="has-text-centered">
						<h1 class="title">Welcome back, <%= user.username %>!</h1>
						<a class="button" href="/profile/<%= user._id %>">View Profile</a> <a class="button" href="/tweets">View Your Tweets</a> <a class="button" href="/tweet">Create Tweet</a>
					</div>

				<% } %>
			</div>
		</section>

	</body>
</html>
