<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Fwitter</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
		<link rel="stylesheet" href="/css/main.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	</head>
	<body>

		<%- include('./partials/nav') %>

		<section class="container">
			<div>
				<% if (!user) { %>

					<div class="has-text-centered">
						<h1 class="title">Welcome! Please <a href="/login">log in</a> or <a href="/signup">sign up</a> for an account</h1>
					</div>

				<% } else { %>

					<div class="has-text-centered">
						<h1 class="title">Welcome back, <%= user.username %>!</h1>
						<a class="button is-info" href="/profile/<%= user._id %>"><i class="fas fa-user"></i>View Profile</a>
						<a class="button is-link" href="/tweets">View Your Tweets <i class="fab fa-twitter" data-fa-transform="rotate-90"></i></a>
						<a class="button is-primary" href="/timeline">View Timeline <i class="fas fa-comments"></i></a>
					</div>

				<% } %>
			</div>
		</section>

	</body>
</html>
