<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
		<title>Fwitter - Login</title>
	</head>
	<body>

		<%- include('./partials/nav') %>

		<section>
			<div class="container">
				<form action="/login" method="post">
					<div>
					<label class="label">Email:</label>
					<input class="input" type="text" name="email"/><br/>
					</div>
					<div>
					<label class="label">Password:</label>
					<input class="input" type="password" name="password"/>
					</div>
					<div>
					<input class="button" type="submit" value="Submit"/>
					</div>
				</form>
			</div>
		</section>

	</body>
</html>
