<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <title>Fwitter - New Tweet</title>
  </head>
  <body class="site">

    <%- include('./partials/nav') %>

    <section class="site-content">
      <div class="has-text-centered field the-padder">
        <h1 class="title">Create New Tweet</h1>
      </div>
      <div class="input-field">
        <div class="card">
          <form action="/tweet" method="post">
            <div class="field">
              <label class="label" for="tweetBody">Tweet:</label>
              <textarea class="textarea" name="tweetBody" placeholder="What's on your mind?"></textarea><br>
            </div>
            <div class="field">
              <button class="button is-primary" type="submit" name="tweet">Tweet</button>
            </div>
          </form>
        </div>

      </div>
    </section>

    <%- include('./partials/footer') %>

  </body>
</html>
