Create New Tweet
<form action="/tweet" method="post">
  <label for="tweetBody">Tweet:</label>
  <textarea name="tweetBody" placeholder="What's on your mind?"></textarea><br>
  <button type="submit" name="tweet">Tweet</button>
</form>
