Please enter details below
<form action="/signup" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Username" /><br>
  <label for="email">Email:</label>
  <input type="text" name="email" placeholder="Email" /><br>
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password" /><br>
  <button type="submit" name="submit">Submit</button>
</form>
<form class="" action="index.html" method="post">

</form>
