/*
  ==============
  Main Styling
  ==============
*/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.input-field {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.textarea {
  display: flex;
  width: auto;
}

/*
  ==============
  Profile Page
  ==============
*/

.profile-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-header {
  margin-bottom: 10px;
}

/*
  ==============
  Timeline Page
  ==============
*/

.information {
  display: none;
}

.card {
  padding: 10px;
  margin-bottom: 25px;
}

.comment {
  border: 3px solid rgb(230, 231, 231);
  border-radius: 1%;
  background: rgb(126, 130, 135);
  color: white;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: right;
}

.love {
  transform: scale(1.2);
  color: red;
}

/*
  ==============
  Footer
  ==============
*/

.footer {
  height: 15px;
  bottom: 0;
  background-color: #209cee;
}

.footer p {
  color: white;
}

.footer a {
  color: white;
}

/*
  ==============
  Misc
  ==============
*/

.the-padder {
  padding-top: 25px;
}
