.input-field {
  display: flex;
  justify-content: center;
}

.information {
  display: none;
}

.card {
  padding-left: 10px;
}

.level {
  padding-bottom: 10px;
}

.love {
  transform: scale(1.2);
  color: red;
}
