.input-field {
  display: flex;
  justify-content: center;
}

.textarea {
  display: flex;
  width: auto;
}

.information {
  display: none;
}

.creator {
  display: none;
}

.card {
  padding: 10px;
  margin-bottom: 25px;
}

.comment {
  border: 3px solid rgb(230, 231, 231);
  border-radius: 1%;
  background: rgb(214, 216, 218);
  color: white;
  margin-bottom: 5px;
  text-align: right;
}

.level {
  padding-bottom: 10px;
}

.love {
  transform: scale(1.2);
  color: red;
}
